:root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* background-color: yellowgreen; */
}
#root {
  /* height: 100%; */
}
.app__wrapper {
    display: flex;
    flex: 1;
    /* height: 800px; */
    height: 900px;
    /* border-radius: 16px; */
    box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
    /* background-color: yellowgreen; */
  }
  .channel-list__sidebar {
    width: 72px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
    /* border-top-left-radius: 16px; */
    /* border-bottom-left-radius: 16px; */
  }

  .channel-list__sidebar__icon1 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.1) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  }
  .icon1__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .channel-list__sidebar__icon2 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.1) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
  }